<% permitted_attributes = policy(user).permitted_attributes %>

<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <strong>Name:</strong>
    <%= @user.full_name %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @user.role.humanize %>
  </p>

  <% if permitted_attributes.include?(:department_id) %>
    <div class="field">
      <%= form.label :department_id %>
      <%= form.select :department_id, user.company.departments.map { |department| [department.name, department.id] } %>
    </div>
  <% else %>
    <p>
      <strong>Department:</strong>
      <%= @user.department.name %>
    </p>
  <% end %>

  <% if permitted_attributes.include?(:phone) %>
    <div class="field">
      <%= form.label :phone %>
      <%= form.text_field :phone %>
    </div>
  <% else %>
    <p>
      <strong>Phone:</strong>
      <%= number_to_phone @user.phone %>
    </p>
  <% end %>

  <% if permitted_attributes.include?(:address) %>
    <div class="field">
      <%= form.label :address %>
      <%= form.text_area :address %>
    </div>
  <% else %>
    <p>
      <strong>Phone:</strong>
      <%= number_to_phone @user.phone %>
    </p>
  <% end %>

  <% if permitted_attributes.include?(:email) %>
    <div class="field">
      <%= form.label :email %>
      <%= form.text_field :email %>
    </div>
  <% else %>
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>
  <% end %>

  <% if permitted_attributes.include?(:password) %>
    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password %>
    </div>
  <% end %>

  <% if permitted_attributes.include?(:password_confirmation) %>
    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation %>
    </div>
  <% end %>

  <% if permitted_attributes.include?(:salary) %>
    <div class="field">
      <%= form.label :salary %>
      <%= form.number_field :salary %>
    </div>
  <% else %>
    <p>
      <strong>Salary:</strong>
      <%= number_to_currency @user.salary, precision: 0 %>
    </p>
  <% end %>

  <% if permitted_attributes.include?(:bonus) %>
    <div class="field">
      <%= form.label :bonus %>
      <%= form.number_field :bonus %>
    </div>
  <% else %>
    <p>
      <strong>Bonus:</strong>
      <%= number_to_currency @user.bonus, precision: 0 %>
    </p>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
